####  Create a DataFrame of 5 students with their marks and find who scored more than 80.

In [1]:
import pandas as pd

In [3]:
data={
    "student":["Akash","Vikash","Prasad","Priya","Shruti"],
    "marks":[30,99,89,78,80]
}


df=pd.DataFrame(data)

df

  student  marks
0   Akash     30
1  Vikash     99
2  Prasad     89
3   Priya     78
4  Shruti     80

In [4]:
scored_marks=df[df['marks']>80]

print(scored_marks)

  student  marks
1  Vikash     99
2  Prasad     89